
## <summary>policy for crimson</summary>


########################################
## <summary>
##	Transition to crimson.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`crimson_domtrans',`
	gen_require(`
		type crimson_t, crimson_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, crimson_exec_t, crimson_t)
')


########################################
## <summary>
##	Execute crimson server in the crimson domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crimson_initrc_domtrans',`
	gen_require(`
		type crimson_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, crimson_initrc_exec_t)
')


########################################
## <summary>
##	Search crimson lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crimson_search_lib',`
	gen_require(`
		type crimson_var_lib_t;
	')

	allow $1 crimson_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read crimson lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crimson_read_lib_files',`
	gen_require(`
		type crimson_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, crimson_var_lib_t, crimson_var_lib_t)
')

########################################
## <summary>
##	Manage crimson lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crimson_manage_lib_files',`
	gen_require(`
		type crimson_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, crimson_var_lib_t, crimson_var_lib_t)
')

########################################
## <summary>
##	Manage crimson lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`crimson_manage_lib_dirs',`
	gen_require(`
		type crimson_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, crimson_var_lib_t, crimson_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an crimson environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`crimson_admin',`
	gen_require(`
		type crimson_t;
		type crimson_initrc_exec_t;
		type crimson_var_lib_t;
	')

	allow $1 crimson_t:process { ptrace signal_perms };
	ps_process_pattern($1, crimson_t)

	crimson_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 crimson_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, crimson_var_lib_t)

')

